# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# node
node_modules

# bower
libs/*

# build
libs.js
libs.js.*
app.js
app.js.*
