<!DOCTYPE html>
<html ng-app="musicpad" ng-controller="AppCtrl">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>musicpad</title>

    <!-- your compiles CSS -->
    <link rel="stylesheet" type="text/css" href="assets/<%= grunt.config.get('pkg.name') %>.css"/>

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"/>

    <!--[if IE 7>
    <link rel="stylesheet" href="assets/font-awesome-ie7.min.css>
    <![endif]-->

    <!-- libs.js contains all of the concatenated third-party libraries -->
    <script type="text/javascript" src="assets/libs.js"></script>

    <!-- this is your compiled, minified application code -->
    <script type="text/javascript" src="assets/<%= grunt.config.get('pkg.name') %>.js"></script>
  </head>
  <body>
    <!-- header -->

    <!-- homepage ng-view -->
    <div ng-view></div>

    <!-- footer -->
  </body>
</html>
