<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">YouTroll</a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right" id="logged_as">
          <a href="#login" class="navbar-link">Please login</a>
        </p>
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="container-fluid" id="app-container"></div>
<div id="footer">
  <div class="container">
    <p class="muted credit">
      YT Albums will get you in jail before 2050, thanks to <a href="https://bitbucket.org/mrgamer/">@mrgamer</a>.
    </p>
  </div>
</div>