<div class="covered" id="pusher">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="#">Sfida Generazionale</a>
        <ul class="nav pull-right">
          <li>
            <a>Please Like Us on Facebook</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Content Here -->
  <div class="container-fluid" id="notifications"></div>
  <div class="container-fluid" id="content"></div>
</div>
<div id="footer">
  <div class="container">
    <p class="muted credit">
      BHD® Bootstrap Horrible Demo thanks to <a href="https://github.com/mrgamer">@mrgamer</a> and <a href="https://github.com/topcs">@TopCS</a>.
    </p>
  </div>
</div>