<div class="navbar navbar-inverse">
  <a class="navbar-brand" href="#">MusicPad:</a>
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="" class="dropdown-toggle">{{ uniqueID }} <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
          <a><qrcode size="200">http://{{ baseUrl }}/#/{{ uniqueID }}</qrcode></a>
        </li>
      </ul>
    </li>
    <li ng-show="padConnected"><a>Connected <i class="icon-ok-sign"></i></a></li>
    <li ng-show="!padConnected"><a>Disconnected <i class="icon-exclamation"></i></a></li>
    <li class="disabled">
      <a class="player">
        <div class="well well-player">
          <i class="icon-fast-backward" ng-click="audio.prev()"></i>
          <i ng-class="{ 'icon-pause': audio.playing, 'icon-play': !audio.playing }" ng-click="audio.playPause()"></i>
          <i class="icon-fast-forward" ng-click="audio.next()"></i>
          <span ng-class="{ 'expand-title': audio.playing }">{{ playingNow.title }}</span>
        </div>
      </a>
    </li>
    <li ng-show="audio.playing">
      <a>
        <span>{{ audio.formatTime }}</span>
        <span> / </span>
        <span>{{ audio.formatDuration }}</span>
      </a>
    </li>
    <!--li>
      <a>
        <audio>
          <source src="/assets/sc/100042225.mp3" type="audio/mp3">
        </audio>
      </a>
    </li-->
  </ul>
</div>
<div class="musicpad-container">
  <div class="song-column">
    <div class="search-box">
      <form name="searchForm" ng-submit="addSong()">
        <div class="input-group">
          <input type="text" class="form-control" name="addsong" ng-model="searchBox" placeholder="Add a youtube / soundcloud URL" search-validation ng-disabled="!padConnected" autofocus>
          <span class="input-group-btn">
            <button class="btn" type="submit" ng-disable="searchForm.$invalid">
              <i class="icon-question-sign" ng-show="!searchBoxType"></i>
              <i class="icon-plus" ng-show="searchBoxType == 'sc'"></i>
              <i class="icon-plus" ng-show="searchBoxType == 'yt'"></i>
            </button>
          </span>
        </div>
      </form>
    </div>
    <div ng-repeat="song in orderedPlaylist" ng-animate="{ enter: 'show' }">
      <div class="song-container" ng-click="playPause($index)" ng-class="{ 'complete': song.status === 'complete' }">
        <span ng-class="song.status" ng-style="{ width: song.progress + '%' }"></span>
        <div class="song-element">
          <p>{{ song.title }}</p>
          <span class="icon-stack" ng-show="song.type == 'sc'"><i class="icon-sign-blank icon-stack-base"></i><i class="icon-cloud"></i></span>
          <i class="icon-youtube-play" ng-show="song.type == 'yt'"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="welcome-column jumbotron" >
    <h1 class="pull-right" ng-show="loadingSong"><i class="icon-spinner icon-spin icon-large"></i></h1>
    <h3 ng-show="loadingSong"><strong>Loading</strong></h3>
    <h1 class="pull-right" ng-hide="loadingSong"><i class="icon-thumbs-up"></i></h1>
    <h3 ng-hide="loadingSong">Add an url to the left</h3>
  </div>
</div>
<audio data-player-control="audio" data-playlist="audioPlaylist" audio-player></audio>
