<form class="form-horizontal" id="registerHere" method='post' action=''>
  <fieldset>

  <legend>Registration</legend>

  <div class="control-group">
    <label class="control-label">Nome</label>
    <div class="controls">
      <input type="text" class="input-xlarge" id="user_name" name="user_name" rel="popover" data-content="Enter your first name" data-original-title="First Name">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Cognome</label>
    <div class="controls">
      <input type="text" class="input-xlarge" id="user_surname" name="user_surname" rel="popover" data-content="Enter your surname" data-original-title="Surname">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Indirizzo Completo</label>
    <div class="controls">
      <input type="text" class="input-xlarge" id="user_address" name="user_address" rel="popover" data-content="We need your full Address" data-original-title="Address">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">E-Mail</label>
    <div class="controls">
      <input type="text" class="input-xlarge" id="user_email" name="user_email" rel="popover" data-content="Enter a valid E-Mail Address" data-original-title="E-mail">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Data di nascita</label>
    <div class="controls">
      <input type="text" class="input-xlarge" id="user_birthdate" name="user_birthdate" rel="popover" data-content="What’s your birthdate?" data-original-title="Date of Birth">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Accetto Regolamento</label>
    <div class="controls">
      <input type="checkbox" id="user_accept_rules" name="user_accept_rules" rel="popover" data-content="Please accept our rules" data-original-title="Rules" checked>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Accetto Trattamento dei dati</label>
    <div class="controls">
      <input type="checkbox" id="user_accept_handling" name="user_accept_handling" rel="popover" data-content="Please accept the handling of your private infos" data-original-title="Private Infos" checked>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
      <button type="submit" class="btn btn-success" >Create My Account</button>
    </div>
  </div>

  </fieldset>
</form>